body {
    font-family: Arial, sans-serif;
    color:#fff7f7;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("earth-image.jpg");
    background-size: cover;
}

header {
    background-color: #5c5757;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.team, .challenge {
   /* border: 1px solid #ffffff; */
    padding: 1rem;
    margin-top: 1rem;
    background-color: #000000;
    background: rgba(5, 5, 5, 0.377);
}

.box{
    opacity: 0.7;
    color: rgb(44, 44, 44);
}

footer {
    background-color: #575555;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

footer img {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}
span {
 
    display: inline-block;
    
    vertical-align: middle;
    
    line-height: normal;
    
   }
   .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }

   h2{
    text-decoration: underline;
    font-family: 'Bauhaus 93', sans-serif;
}
